/* =========================================================================
   Elements
   ========================================================================= */
 
h1,h2{
  text-align: center;
  margin-bottom: 1rem;
}
@media print,screen and (min-width: 40em) {
  h1{
    font-size: 2rem;
  }
}
 
/* END Elements
   ========================================================================= */

/* =========================================================================
   Layout
   ========================================================================= */

.grid-container{
  margin-top: 3rem;
}

 
/* END Layout
   ========================================================================= */

/* =========================================================================
   Components
   ========================================================================= */
 
  /* 
    Avatar
    --------------------------------------------------- */
    
.profile-avatar img{
  max-width: 220px;
  border-radius: 50%;
  margin:auto;
  display: block;
  margin-bottom: 1rem;
}
    
  /*------------------------------------------------------ 
  /* END Avatar
  */
  /* 
    Social Links
    --------------------------------------------------- */
  
.profile-social{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
  
  /*------------------------------------------------------ 
  /* END Social Links
  */

  /* 
     Tabs Menu
    --------------------------------------------------- */
   
  .tabs.main-menu{
    text-align: center;
    margin-bottom: 2rem;
  }
   
  /*------------------------------------------------------ 
  /* END Tabs Menu
  */
 
/* END Components
   ========================================================================= */